
@font-face {
	font-family: 'ikarus';
	src: url('./ABCIkarusv170-VariableVF.ttf') format('truetype-variations');
	font-style: normal;
	font-display: swap;
	font-synthesis: none;
	unicode-range: u+00-7f, u+2014;
}

:root {
	font-size: 62.5%;
	--measure: 50ch;
	--ratio: 1.5;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1.6rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
}

* {
	box-sizing: border-box;
	color: #222;
	font-family: ikarus, 'times new roman', times, serif;
	font-variation-settings: "wght" 300, "wdth" 100, "ital" 0, "cont" 0;
	font-feature-settings: "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "case" 1, "liga" 1, "ss04" 1, "ss03" 1, "ss02" 1, "ss08" 1, "ss10" 1, "ss14" 1, "ss18" 1;
	font-size: 1.6rem;
	line-height: var(--s1);
	margin-block: 0;
	max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
	max-inline-size: none;
}

.center {
	/* ↓ Remove padding from the width calculation */
	box-sizing: content-box;
	/* ↓ The maximum width is the maximum measure */
	max-inline-size: 60ch;
	/* ↓ Only affect horizontal margins */
	margin-inline: auto;
	/* ↓ Apply the minimum horizontal space */
	padding-inline-start: var(--s1);
	padding-inline-end: var(--s1);
	}
