@font-face {
	font-family: 'Ikarus';
	src: url('./ABCIkarusv170-VariableVF.ttf') format('truetype-variations');
	font-style: normal;
	font-display: swap;
	font-synthesis: none;
	unicode-range: U+00-7F, U+2014;
}

html {
	font-size: 62.5%;
}

body {
	background: #111;
	color: blanchedalmond;
	font-family: Ikarus, 'Times New Roman', Times, serif;
	font-feature-settings: "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "case" 1, "liga" 1, "ss04" 1, "ss03" 1, "ss02" 1, "ss08" 1, "ss10" 1, "ss14" 1, "ss18" 1;
	font-variation-settings: "wght" 300, "wdth" 100, "ital" 0, "cont" 0;
	font-size: 1.6rem;
	font-style: normal;
	white-space: nowrap;
	width: 54ch;
	margin: 0 auto;
	display: grid;
}

main {
	display: grid;
	place-items: center;
	border: 2px solid gold;
	container: main / inline-size;
	max-inline-size: 65ch;
	min-inline-size: 30ch;
	contain-intrinsic-inline-size: 64ch;
	place-self: center;
	padding: 0.2rem;
}

section {
	container: section / inline-size;
	contain-intrinsic-inline-size: 64ch;
	border: 2px solid lightblue;
	content-visibility: auto;
}

p {
	font-size: clamp(1.6rem, 2.9cqi, 2.2rem);
	line-height: calc(2px + 2ex + 2px);
	border: 2px solid indianred;
}

.line {
	display: block ;

}



