@font-face {
	font-family: 'Ikarus';
	src: url('./ABCIkarusv170-VariableVF.ttf') format('truetype-variations');
	font-style: normal;
	font-display: swap;
	font-synthesis: none;
	unicode-range: U+00-7F, U+2014;
}

html {
	font-size: 62.5%;
}

body {
	background: #333;
	color: whitesmoke;
	font-size: clamp(1.6rem, 1.9rem, 2.2rem);
	font-family: Ikarus, 'Times New Roman', Times, serif;
	font-feature-settings: "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "case" 1, "liga" 1, "ss04" 1, "ss03" 1, "ss02" 1, "ss08" 1, "ss10" 1, "ss14" 1, "ss18" 1;
	font-variation-settings: "wght" 300, "wdth" 100, "ital" 0, "cont" 0;
	font-size: 1.6rem;
	font-style: normal;
	line-height: clamp(2.4rem, 2.75rem, 3.3rem);
	margin: 0 auto;
	width: 50ch;
	height: 50rem;

}

.plate {
	border: 1px solid red;
	background: dodgerblue;
	display:grid;


}

.para {
	content-visibility: auto;
	margin: 0 auto
}

.line {
	display: block;
}
