@font-face {
	font-family: 'Ikarus';
	src: url('./ABCIkarusv170-VariableVF.ttf') format('truetype-variations');
	font-style: normal;
	font-display: swap;
	font-synthesis: none;
	unicode-range: U+00-7F, U+2014;
}

html {
	font-size: 62.5%;
	/* margin: auto; */
}

body {
	background: #111;
	color: blanchedalmond;
	font-family: Ikarus, 'Times New Roman', Times, serif;
	font-feature-settings: "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "case" 1, "liga" 1, "ss04" 1, "ss03" 1, "ss02" 1, "ss08" 1, "ss10" 1, "ss14" 1, "ss18" 1;
	font-variation-settings: "wght" 300, "wdth" 100, "ital" 0, "cont" 0;
	font-size: 1.6rem;
	font-style: normal;
	white-space: nowrap;
	/* margin: 0 auto; */
}

main {
	padding-block: 20vh;
	display: grid;
	place-items: center;
	/* gap: 4.8rem */
}

main > section {
	content-visibility: auto;
	container-type: inline-size;
	max-width: 60rem;

	margin-inline: auto;
	width: 100%;
	/* padding: 3.2rem; */
	border: 1px solid hsl(0 0% 95% / 0.2);
}

main p {
	/* padding: 0.5em; */
	background: hsl(273, 60%, 68%);
	color: #222;

	font-size: 5.6cqi;
}

p > span {
	display: block;
}
