@font-face {
	font-family: 'Ikarus';
	src: url('./ABCIkarusv170-VariableVF.ttf') format('truetype-variations');
	font-style: normal;
	font-display: swap;
	font-synthesis: none;
	unicode-range: U+00-7F, U+2014;
}

html {
	font-size: 62.5%;
}

body {
	/* border: 5px dotted green; */
	background: #111;
	color: blanchedalmond;
	font-family: Ikarus, 'Times New Roman', Times, serif;
	font-feature-settings: "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "case" 1, "liga" 1, "ss04" 1, "ss03" 1, "ss02" 1, "ss08" 1, "ss10" 1, "ss14" 1, "ss18" 1;
	font-variation-settings: "wght" 300, "wdth" 100, "ital" 0, "cont" 0;
	font-size: 1.6rem;
	font-style: normal;
	white-space: nowrap;
	width: 80ch;
	display: grid;
	margin: 0 auto;
}

main {
	display: grid;
	place-content: center;
	border: 3px dashed gold;
	width: 75ch;
	height: 100vh;
	/* container: main / inline-size; */
	/* max-inline-size: 65ch; */
	/* min-inline-size: 30ch; */
	/* contain-intrinsic-inline-size: 64ch; */
	/* place-self: center; */
	/* padding: 0.2rem; */
}

section {
	display: grid;
	content-visibility: auto;
	container-type: size;
	place-content: center;
	border: 3px dotted lightblue;
	width: 70ch;
	height: 100vh;

	/* container: section / inline-size; */
	/* contain-intrinsic-inline-size: 64ch; */
	/* content-visibility: auto; */
}

p {
	display: inline-block;
	border: 2px dashed indianred;
	width: 65ch;
	height:fit-content;
	line-height: calc((1rem / 5) + 2.5ex + (1rem / 5));
}

.line {
	border: 2px solid silver;
	contain: strict;
	width: 65ch;
	height: calc(1.2ex + 1.2cap);
	display: block ;
	font-size: clamp(1.6rem, 2.9vw, 2.2rem);

}



